<div class="container">
  <div class="row">
    <div class="col-8 col-md-8 col-lg-4 col-xl-4 form-container text-align-center border">
      <h1 class="p-4">Get contacted</h1>
      <form>
        <div class="form-row">
          <div class="col-6 form-group">
            <label for="firstname" class="form-label">Your first name</label>
            <input class="form-control" id="firstname" placeholder="Bob">
          </div>
          <div class="col-6 form-group">
            <label for="lastname" class="form-label">Your last name</label>
            <input class="form-control" id="lastname" placeholder="Sponge">
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="form-label">Your email</label>
          <input class="form-control" id="email" placeholder="bob@gmail.com">
        </div>
        <div class="form-group">
          <label for="password" class="form-label">Your password</label>
          <input type="password" class="form-control" id="password"placeholder="•••••••">
        </div>
        <div class="form-group">
          <label for="channel" class="form-label">How do you know us?</label>
          <select id="inputChannel" class="form-control">
            <option selected>Facebook</option>
            <option>Google Search</option>
            <option>A friend</option>
          </select>
        </div>
        <div class="d-flex">
          <button type="submit" class="btn btn-primary flex-grow-1">Sign up</button>
        </div>
      <%# </div>
    </div> %>
      </form>
    </div>
  </div>
</div>
