.banner {
  background-image: url("https://images.pexels.com/photos/7078666/pexels-photo-7078666.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
  background-size: cover;
  opacity: 1;
  padding: 300px 0;
  margin: 0;
  height: 168px;
}

.banner h1 {
  color: rgb(236, 234, 234);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  font-weight: bolder;
}

.banner p {
  color: rgba(241, 236, 236, 1);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  font-size: 20px;
}
