* {
  box-sizing: content-box;
}

.card-popup {
  display: flex;
  justify-content: center;
  background-size: cover;
}

.card-info {
  height: 100px;
  width: 150px;
}


.mapboxgl-popup-content {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(160, 159, 159, 0.637);
}

@media(max-width: 500px) {
  #map {
    width: 50vw;
  }
}
// .container {
//     margin: auto;
// }

.card-info .btn {
  position: absolute;
  bottom: 10px;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 10px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}
