#welcome-container{
  display: flex;
  width: 1120px;
  margin: 0px auto;
  padding-top: 65px;
}

@media (max-width: 1175px) {
  #welcome-container {
    width: 800px;
    margin: 0px auto;
  }
}

@media (max-width: 805px) {
  #welcome-container {
    width: 650px;
    margin: 0px auto;
  }
}

@media (max-width: 655px) {
  #welcome-container {
    width: 305px;
    margin: 0px auto;
  }
}

#welcome-card {
  text-align: left;
  margin: 10px;
  border-radius: 10px;
  // padding: 12px;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(160, 159, 159, 0.637);
  width: 500px;
  // color: #6D5AD8;
  color: rgba(0, 0, 0, 0.7);
}

#welcome-card-head {
  margin: 0;
  padding: 0;
}

#welcome-card-head img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

#welcome-card-body {
  padding: 12px;
}
